*{
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
    color: #0D1321;
}

/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    align-items: center;
}
.nav-title{
    font-size: 28px;
    font-weight: 800;
    padding-top: 50px;
    padding-bottom: 48px;
}
.nav-download-resume{
    font-size: 20px;
    font-weight: 600;
}
.nav-download-resume button{
    padding: 17px 24px;
    background-color: white;
    border: 1px solid #0D1321;
    border-radius: 8px;
}

/* banner styles */
.banner{
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-container{
    margin: 26px 221px 45px;
}
.banner-image{
    height: 240px;
    width: 240.28px;
    margin-bottom: 32px;
}
.banner-content h2{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}
.banner-content p{
    font-size: 16px;
    margin-bottom: 32px;
}
.banner-btn button{
    font-size: 20px;
    color: #FFFFFF;
    background-color: #0D1321;
    border: none;
    border-radius: 8px;
    padding: 21px 24px;
}